$etkt-blue-100: #182536;
$etkt-blue-300: #0b111a;
$etkt-blue-500: #030508;
$etkt-yellow-100: #e7dac9;
$etkt-yellow-300: #c8bbaa;
$etkt-yellow-600: #85745e;

$body-background-color: $etkt-blue-300;
$body-heading-color: $etkt-yellow-300;
$btn-primary-color: $etkt-yellow-100;
$link-color: $etkt-yellow-100;

// Copied from JTD dark theme
$sidebar-color: $etkt-blue-500;
$border-color: $grey-dk-400;

$body-text-color: $grey-lt-300;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

.warning {
    padding: 10px;
    background-color: darken($etkt-yellow-300, 30%);
    border-width: 1px;
    border-color: $etkt-yellow-300;
    border-style: solid;    
  }
