@font-face {
  font-family: "Impact Label";
  src: url("/fontblack.ttf");
  color: #ffffff;
}
@font-face {
  font-family: "Impact Label Reversed";
  src: url("/fontwhite.ttf");
  color: #000000;
}
* {
  font-family: "Impact Label Reversed";
  font-size: 22px;
  color: white;
  text-decoration: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
body {
  background-color: black;
}
h1,
h2 {
  font-family: "Impact Label Reversed";
  color: #ffffff;
}
h1 {
  font-size: 50px;
  margin: 0px;
  padding-top: 50px;
}
h2 {
  font-size: 21px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 40px;
}
h3 {
  text-align: center;
  margin-top: 10px;
  /* font-size: 5px; */
}
a {
  font-family: "Impact Label Reversed";
  font-size: 18px;
  color: #777777;
  opacity: 0.5;
  filter: drop-shadow(0px 0px 20px #FFF);  
}
a:hover {
  opacity: 1;
}
#hint {
  font-size: 20px;
  color: #777777;
  /* margin: 15px;
    margin-bottom: 30px; */
}
input {
  color: white;
  background: none;
  border-color: #77777766;
  border-width: 3px;
  border-radius: 3px;
  padding: 3px 0 4px 0;
  margin: 0px;
  width: 100%;
  /* caret-shape: underscore; */
}
#text-input {
  outline: 15px inset #44444444;
  /* border: 1px dashed #111; */
  border-radius: 1px;
  border: none;
  margin: 0px;
  padding: 0px;
  color: white;
  width: 100%;
  font-family: "Impact Label Reversed";
  text-align: center;
  font-size: 25px;
  filter: drop-shadow(0px 0px 40px #FFF);  
  caret-color: auto;
  /* transform: rotate(-0.5deg); */
}
#text-input:focus {
  /* border: 1px solid #777;
  border-width: 1px 0 1px 0;   */
  background: #11111166;
}

#mode-dropdown {
  outline: none;
  /* border-color: #77777766; */
  border-color: rgb(0, 102, 255);
  border-width: 3px;
  border-radius: 3px;
  border-width: 0 3px 0 3px; border-style: dashed;
  font-size: 21px;
  background: black;
  height: 36px;  
  width: 100%;
  text-align: center;
  /* padding: 0 0 0 25px; */
}

#single-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding-bottom: 15px;
}

input[type="button"]:disabled {
  color: #333333;
}

#clear-button{
  color: rgb(255, 0, 0);
  border-color: rgba(255, 0, 0, 0.5);
}
#clear-button:disabled{
  color: rgba(255, 0, 0, 0.25);
  border-color: rgba(255, 0, 0, 0.25);
}

#reel-button{
  color: rgba(0, 151, 81, 1.0);
  border-color: rgba(0, 151, 81, 0.5);
}
#reel-button:disabled{
  color: rgba(0, 151, 81, 0.25);
  border-color:rgba(0, 151, 81, 0.25);
}

#feed-button{
  color: rgba(255, 166, 0, 1);
  border-color: rgba(255, 166, 0, 0.5);
}
#feed-button:disabled{
  color: rgba(255, 166, 0, 0.25);
  border-color: rgba(255, 166, 0, 0.25);
}

#cut-button{
  color: rgba(0, 102, 255, 1);
  border-color: rgba(0, 102, 255, 0.5)
}
#cut-button:disabled{
  color: rgba(0, 102, 255, 0.25);
  border-color: rgba(0, 102, 255, 0.25);
}

#submit-button{
  color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.5);
}
#submit-button:disabled{
  color: rgba(128, 128, 128, 0.25);
  border-color: rgba(128, 128, 128, 0.25);
}


#background {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse,
    rgb(20, 20, 20) 0%,
    rgba(0, 0, 0, 1) 90%
  );
}

#splash {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background: radial-gradient(
    ellipse,
    rgb(20, 20, 20) 0%,
    rgba(0, 0, 0, 1) 75%
  );
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-animation: fade 3s;
  animation: fade 3s;
  opacity: 0;
  z-index: -1;
}

#splashlogo {
  width: 220px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;

  -webkit-animation: fade 3s;
  animation: fade 3s;

  opacity: 0;
  z-index: -1;
}

#splashbar {
  background-image: url("splash.png");
  background-repeat: no-repeat;
  background-position: left;

  height: 150px;
  /* background: white; */
  -webkit-animation: move 2s;
  animation: move 2s;
}
@keyframes move {
  0% {
    width: 0%;
  }
  20% {
    width: 0%;
  }
  80% {
    width: 100%;
  }
}

@keyframes fade {
  0% {
    z-index: 999;
    opacity: 1;
  }
  75% {
    z-index: 999;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
